@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(40.35% 58.45% at 50% 0%, rgba(33, 150, 83, 0.15) 0%, rgba(39, 174, 96, 0.15) 50%, rgba(111, 207, 151, 0.066) 100%);

}
#app {
  /* linear-gradient(0deg, #FFFFFF, #FFFFFF); */

  /* background-image: 
  
  repeating-linear-gradient(transparent, transparent 138px, #e1dede 140px),
  repeating-linear-gradient(0.75turn, transparent,  transparent 138px, #e1dede 140px); */
}

.send-btn {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0) 100%), #27AE60;
  box-shadow: 0px 1px 2px rgba(39, 174, 96, 0.4), 0px 0px 0px 1px rgba(33, 150, 83, 0.7);
  position: relative;
}
.send-btn::before{
  content:"";
  background-image:   linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%); 
  border-radius: 6px;
  position: absolute;
  inset: 0px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0);
  mask-composite: xor;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

#dialog.show #dialog-backdrop {
  opacity: 100;
  transition: opacity 0.3s ease-out;
}

#dialog.hide #dialog-backdrop {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

/* Add this to your CSS file */
#dialog.show {
  display: unset;
  opacity: 100;
  transition: opacity 0.3s ease-out;
}

#dialog.hide {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

#dialog.show #dialog-content {
  opacity: 100;
  transform: translate(0) scale(1);
  transition: all 0.3s ease-out;
}

#dialog.hide #dialog-content {
  opacity: 0;
  transform: translateY(1rem) scale(0.95);
  transition: all 0.2s ease-in;
}

#alpha-filter button {
  background:#fff;
  width: 45px;
  min-width: 45px;
  height: 30px;
  box-shadow: 0px 0px 4px 0px #00000008 inset;
  outline: 0.5px solid #00000005;
  border-radius: 6px;
  padding: 0px 11px 0px 11px !important;
  font-size: 12px;
  color: #52525B;
  transition: all 0.3s ease;
}